.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    border-bottom: 2px solid #eee;
}

input {
    background-color: #eee;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 20px;
    outline: none;
}

.icons-items {
    padding: 20px;
    font-size: 25px;
    cursor: pointer;
}