.sidebar {
    width: 250px;
    height: 100%;
    border-right: 2px solid #eee;
    margin-top: -90px;
    position: fixed;
}

.icon {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 100px;
}

.elements {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}